@page "/viewbookings"
@using SmartGym.Constants.Enums
@using SmartGym.Models
@using SmartGym.Services
@using Microsoft.AspNetCore.Identity
@inject SmartGym.Services.IBookingService bookingService
@inject SmartGym.Services.IUserService userService
@inject NavigationManager navManager
@inject UserManager<AppUser> UserManager
@inject IJSRuntime JS
@attribute [StreamRendering]

<PageTitle>View Bookings</PageTitle>
<h1 class="mb-4">Bookings</h1>
<div class="contained">
	<div class="mb-4">
		<a href="/addnewbooking" onclick="location.href='/addnewbooking'; return false;"
			class="inline-block bg-primary-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow transition duration-150">
			<i class="fa-solid fa-plus mr-4"></i>Add New Booking
		</a>
		<a href="/view-waitlist" onclick="location.href='/view-waitlist'; return false;"
			class="inline-block bg-secondary-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow transition duration-150">
			<i class="fa-solid fa-list mr-4"></i>View Wait List
		</a>
	</div>
	<table id="bookingsTable" class="display text-left text-xl">
		<thead class="bg-background text-white">
			<tr>
				<th>User Name</th>
				<th>Class Session ID</th>
				<th>Status</th>
				<th>Created At</th>
				<th>Confirmed At</th>
				<th>Updated At</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
		</thead>
		<tbody>
			@if (bookingList != null)
			{
				foreach (var bookingDto in bookingList)
				{
					<tr class="bg-text">
						<td>@bookingDto.User?.Name</td>
						<td>@bookingDto.ClassSessionId</td>
						<td>@((BookingStatus)bookingDto.Status)</td>
						<td>@bookingDto.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</td>
						<td>@bookingDto.ConfirmedAt.ToString("MM/dd/yyyy hh:mm tt")</td>
						<td>@bookingDto.UpdatedAt.ToString("MM/dd/yyyy hh:mm tt")</td>
						<td>
							<button class="bg-red-500 text-white px-2 py-1 rounded"
								@onclick="() => DelBooking(bookingDto)">
								<i class="fa-solid fa-user-minus mr-3"></i>Delete
							</button>
						</td>
						<td>
							<button class="bg-accent text-white px-2 py-1 rounded"
								@onclick="() => UpdBooking(bookingDto)">
								<i class="fa-solid fa-pen-to-square mr-3"></i>Update
							</button>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="8"><em>Loading...</em></td>
				</tr>
			}
		</tbody>
	</table>
</div>

@code {
	private List<BookingDTO> bookingList;

	protected override async Task OnInitializedAsync()
	{
		bookingList = await bookingService.GetAllBookings(true);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (bookingList != null && bookingList.Any())
		{
			await JS.InvokeVoidAsync("setupDataTable");
		}
	}

	private void DelBooking(BookingDTO b)
	{
		navManager.NavigateTo($"/deletebooking/{b.UserId}-{b.ClassSessionId}-{b.Id}");
	}

	private void UpdBooking(BookingDTO b)
	{
		navManager.NavigateTo($"/updatebooking/{b.UserId}-{b.ClassSessionId}-{b.Id}");
	}
}

<script>
	function setupDataTable() {
		if ($.fn.DataTable.isDataTable('#bookingsTable')) {
			$('#bookingsTable').DataTable().destroy();
		}
		$('#bookingsTable').DataTable({
			paging: false
		});
	}
</script>
