@page "/myAccount"
@using Microsoft.AspNetCore.Components.Authorization

@using Microsoft.AspNetCore.Identity
@using SmartGym.Constants.Enums
@using SmartGym.Helpers
@using SmartGym.Models
@using SmartGym.Services
@using System.Security.Claims
@attribute [StreamRendering]
@inject UserManager<AppUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserService UserService

<PageTitle>My Account</PageTitle>

<h1>My Account</h1>

<h3>Account Information</h3>

@if (user == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div>
		<span>Account ID: @user.Id</span>
		<hr />
		<span>First Name: @user.Name</span>
		<hr />
		<span>Last Name: @user.Email</span>
		<hr />
		<span>Membership: @EnumHelper.GetDisplayName(user.RoleId)</span>
	</div>
}

@* <h3>Billing Information</h3>
<div>
<hr/>
<span>Billing Name: @payment.cardholderName</span>
<hr/>
<span>Card # (Last 4): @payment.cardNumber.Substring(12)</span>
</div> *@

<h3>Personal Information</h3>
<div>

</div>

@code {

	private UserDto user;
	private IList<string> roles = new List<string>();
	//private Payment payment;
	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var userIdString = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
		if (int.TryParse(userIdString, out int userId))
		{
			user = await UserService.GetUserById(userId);
		}

		// Simulate asynchronous loading to demonstrate streaming rendering
		//await Task.Delay(500);
		@* user = new User {
            firstName = "Johnny",
            lastName = "Danger",
            emailAddress = "dangerj@test.com",
            phoneNumber = "5031239999",
            accountActivationDate = DateOnly.Parse("2025-07-14"),
            accountStatus = "Active",
            accountType = "Standard"
        }; *@
		@* payment = new Payment {
            cardholderName = "Johnathan Maximus Decimus Meridius Danger",
            cardNumber = "1234987645670000",
            monthExpiry = 01,
            yearExpiry = 2029,
            secCode = 404
        }; *@
	}
	@* private class Payment {
            public string cardholderName {get; set;}
            public string cardNumber {get; set;}
            public int monthExpiry {get; set;}
            public int yearExpiry {get; set;}
            public int secCode {get; set;}
        } *@
}
