@attribute [Authorize(Roles = "Admin, Staff")]
@page "/updatemember/{id:int}"
@using SmartGym.Constants.Enums
@using SmartGym.Helpers
@using SmartGym.Models
@using SmartGym.Services
@using System.Net.Mail
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject SmartGym.Services.IUserService service
@inject NavigationManager navManager
@inject UserManager<AppUser> UserManager

<PageTitle>Update Member</PageTitle>


@if (user == null)
{
	<LoadingLayout />
}
else
{
	<h1 class="mb-4" id="title">Update Member</h1>
	<section class="contained bg-text text-xl" aria-labelledby="title">
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="CreatedDate" />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<p>
			<label asp-for="Input.FirstName">First Name: </label>
			<input @bind=FirstName asp-for="Input.FirstName" class="form-control" aria-required="true"
				   placeholder="@user.FirstName" />
			<span asp-validation-for="Input.FirstName" class="text-danger"></span>
		</p>
		<p>
			<label asp-for="Input.LastName">Last Name: </label>
			<input @bind=LastName asp-for="Input.LastName" class="form-control" aria-required="true"
				   placeholder="@user.LastName" />
			<span asp-validation-for="Input.LastName" class="text-danger"></span>
		</p>
		<p>
			<label asp-for="Input.Email">Email: </label>
			<input @bind=Email asp-for="Input.Email" class="form-control" autocomplete="username"
				   aria-required="true" placeholder="@user.Email" />
			<span asp-validation-for="Input.Email" class="text-danger"></span>
		</p>
		<p>
			<label for="dob">DOB: </label>
			<input @bind=DateOfBirth type="date" id="dob" name="DOB">
		</p>
		<p>
			<label for="role">Role: </label>
			<select @bind=Role name="role" id="role">
				@foreach (RoleId role in Enum.GetValues(typeof(RoleId)))
				{
					<option value=@role>@EnumHelper.GetDisplayName(role)</option>
				}
			</select>
		</p>
		<p>
			<label for="status">Status: </label>
			<select @bind=Status name="status" id="status">
				@foreach (UserStatus status in Enum.GetValues(typeof(UserStatus)))
				{
					<option value="@status">@EnumHelper.GetDisplayName(status)</option>
				}
			</select>
		</p>
		<p>
			<button @onclick="() => EditMember(id)" class="inline-block bg-accent hover:bg-primary text-white font-semibold py-2 px-4 rounded shadow transition duration-150 hover:cursor-pointer">
				<i class="fa-solid fa-pen-to-square mr-4"></i>Update member
			</button>
			<a href="/members" class="text-secondary">Cancel</a>
		</p>
	</section>

}

@code {
	[Parameter]
	public int id { get; set; }
	private UserDto user { get; set; }

	public string FirstName { get; set; }
	public string LastName { get; set; }
	public string Email { get; set; }
	public RoleId Role { get; set; }
	public UserStatus Status { get; set; }
	public DateTime DateOfBirth { get; set; } = DateTime.Now;

	private List<string> userRoles = new();

	protected override async Task OnInitializedAsync()
	{
		// Populate userList
		user = await service.GetUserById(id);
		var appUser = await UserManager.FindByIdAsync(id.ToString());
		var currentRoles = await UserManager.GetRolesAsync(appUser);
		Role = user.RoleId;
		FirstName = user.FirstName;
		LastName = user.LastName;
		Email = user.Email;
		Status = user.Status;
		DateOfBirth = user.DateOfBirth;
		StateHasChanged();
	}

	/// <summary>
	/// Updates a member
	/// </summary>
	/// <param name="userId"></param>
	/// <param name="userObj"></param>
	/// <returns></returns>
	private async Task EditMember(int userId)
	{
		// check first name, last name
		if (pageIsValid())
		{
			// TODO: popup error
			user.FirstName = FirstName;
			user.LastName = LastName;
			user.Email = Email;
			user.DateOfBirth = DateOfBirth;
			user.Status = Status;
			user.RoleId = Role;
			user.UpdatedDate = DateTime.Now;

			await service.UpdateUser(userId, user);
			var appUser = await UserManager.FindByIdAsync(userId.ToString());

			bool doesExist = true;

			if (appUser == null)
			{
				doesExist = false;
				appUser = new AppUser();
				appUser.CreatedDate = user.CreatedDate;
			}

			appUser.FirstName = FirstName;
			appUser.LastName = LastName;
			appUser.Email = Email;
			appUser.DateOfBirth = DateOfBirth;
			appUser.Status = Status;
			appUser.UpdatedDate = DateTime.Now;

			// get app user to get its roles
			if (doesExist) {
				var currentRoles = await UserManager.GetRolesAsync(appUser);

				await UserManager.RemoveFromRolesAsync(appUser, currentRoles);

			} else
			{
				await UserManager.CreateAsync(appUser);
			}

			if (!string.IsNullOrEmpty(EnumHelper.GetDisplayName(Role)))
				await UserManager.AddToRoleAsync(appUser, EnumHelper.GetDisplayName(Role));

			await UserManager.UpdateAsync(appUser);

			navManager.NavigateTo("/members", true);

		}
		else
		{
			await Task.CompletedTask;
		}

	}

	bool pageIsValid()
	{
		if (isEmpty(FirstName))
		{
			// TODO: popup error
			return false;
		}
		else if (isEmpty(LastName))
		{
			return false;
		}
		else if (!emailIsValid())
		{
			return false;
		}
		return true;
	}

	bool isEmpty(string s)
	{
		return (s.Trim() == "");
	}

	private bool emailIsValid()
	{
		try
		{
			MailAddress m = new MailAddress(Email);
			return true;
		}
		catch (Exception e)
		{
			return false;
		}
	}
}