@page "/members"
@using SmartGym.Constants.Enums
@using SmartGym.Helpers
@using SmartGym.Models
@using SmartGym.Services
@using Microsoft.AspNetCore.Identity
@inject SmartGym.Services.IUserService service
@inject NavigationManager navManager
@inject UserManager<AppUser> UserManager
@attribute [StreamRendering]


<PageTitle>View Members</PageTitle>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style> 

<h1 class="text-5xl mb-4">View Members</h1>
<div class="bg-background bg-primary-900">
    <h1 style="font-size:40px"><b>List of Members</b></h1>
    @if (userList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="inline-flex">
            <a href="/addnewmember" class="text-right bg-text hover:bg-blue-700 text-white font-bold py-5 px-4 rounded inline-flex items-center">
                <i class="fa-solid fa-user-plus"></i>
                <span>Add New Member</span>
            </a>
            <a href="/updatemember" class="text-right bg-accent hover:bg-blue-700 text-white font-bold py-5 px-4 rounded">
                <i class="fa-solid fa-pen-to-square"></i>
              Update Member
              </a>
        </div>
        <table class="w-full table-auto border-collapse text-sm">
            <caption class="caption-top">List of Members</caption>
            <thead class="border border-gray-200 bg-gray-50 text-left  dark:border-gray-600 dark:bg-gray-700 dark:text-gray-200">
                <tr>
                    <th  class="p-4 py-3">FName</th>
                    <th  class="p-4 py-3">LName</th>
                    <th  class="p-4 py-3">Email</th>
                    <th  class="p-4 py-3">Birthday</th>
                    <th  class="p-4 py-3">Membership Plan</th>
                    <th  class="p-4 py-3">Status</th>
                    <th  class="p-4 py-3">Actions</th>
                </tr>
            </thead>
           
            <tbody class="bg-white dark:bg-gray-800">
                @foreach (UserDto userDto in userList)
                {
                    <tr>
                        <td>@userDto.FirstName</td>
                        <td>@userDto.LastName</td>
                        <td>@userDto.Email</td>
                        <td>@userDto.DateOfBirth.ToString("MM/dd/yyyy")</td>
								<td>@EnumHelper.GetDisplayName((RoleId)userDto.RoleId)</td>
								<td>@EnumHelper.GetDisplayName((UserStatus)userDto.Status)</td>
                        <td><button onclick=@(() => DeleteUser(@userDto))>Delete Member</button></td>
                        <td><button onclick=@(() => UpdateUser(@userDto))>Update Member</button></td>
                    </tr>
                    userIndex++;
                }
            </tbody>
        </table>
    }
</div>

    


@code {
    private int userIndex = 0;
    private List<UserDto> userList = new();

    protected override async Task OnInitializedAsync()
    {
        // Populate userList
        userList = await service.GetAllUsers();
    }

    private Task DeleteUser(UserDto u)
    {
        navManager.NavigateTo($"/deletemember/{u.Id}");
        return Task.CompletedTask;
    }

    private Task UpdateUser(UserDto u)
    {
        navManager.NavigateTo($"/updatemember/{u.Id}");
        return Task.CompletedTask;
    }
}
