@attribute [Authorize(Roles = "Admin")]
@page "/members"
@using SmartGym.Constants.Enums
@using SmartGym.Helpers
@using SmartGym.Models
@using SmartGym.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject SmartGym.Services.IUserService service
@inject NavigationManager navManager
@inject UserManager<AppUser> UserManager
@inject IJSRuntime JS
@attribute [StreamRendering]

<PageTitle>View Members</PageTitle>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<div>
	<h1 style="font-size:40px"><b>List of Members</b></h1>
	<div>
		<a href="/addnewmember" onclick="location.href='/addnewmember'; return false;"
			class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow transition duration-150">
			Create New Member
		</a>
		<a href="/members/backend-edit" onclick="location.href='/members/backend-edit'; return false;"
			class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow transition duration-150">
			Edit User Images
		</a>
	</div>
	<table id="userTable" class="display">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Birthday</th>
				<th>Account Type</th>
				<th>Status</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
		</thead>
		<tbody>
			@if (userList != null)
			{
				foreach (UserDto userDto in userList)
				{
					<tr>
						<td>@userDto.FirstName</td>
						<td>@userDto.LastName</td>
						<td>@userDto.Email</td>
						<td>@userDto.DateOfBirth.ToString("MM/dd/yyyy")</td>
						<td>@EnumHelper.GetDisplayName((RoleId)userDto.RoleId)</td>
						<td>@EnumHelper.GetDisplayName((UserStatus)userDto.Status)</td>
						<td>
							<button class="bg-red-500 text-white px-2 py-1 rounded" onclick=@(() => DeleteUser(userDto))>
								Delete
							</button>
						</td>
						<td>
							<button class="bg-blue-500 text-white px-2 py-1 rounded" onclick=@(() => UpdateUser(userDto))>
								Update
							</button>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="8"><em>Loading...</em></td>
				</tr>
			}
		</tbody>
	</table>
</div>

@code {
	private List<UserDto> userList = new();

	protected override async Task OnInitializedAsync()
	{
		userList = await service.GetAllUsers();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (userList != null && userList.Any())
		{
			await JS.InvokeVoidAsync("setupDataTable");
		}
	}

	private Task DeleteUser(UserDto u)
	{
		navManager.NavigateTo($"/deletemember/{u.Id}");
		return Task.CompletedTask;
	}

	private Task UpdateUser(UserDto u)
	{
		navManager.NavigateTo($"/updatemember/{u.Id}");
		return Task.CompletedTask;
	}
}

<script>
	function setupDataTable() {
		if ($.fn.DataTable.isDataTable('#userTable')) {
			$('#userTable').DataTable().destroy();
		}
		$('#userTable').DataTable({
			paging: false
		});
	}
</script>
